{% extends "layout.html" %}

{%block meta%}
<meta name="description" content="Suntem un colectiv divers de ganditori si facatori, constant modeland industria constructiilor. Progresso Nel Edilizia te asteapta sa aplici, scopul nostru este sa aducem idei abstracte la un numitor comun.">
{%endblock meta%}

{% block content %}
<body class="about-us">
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('./static/assets/images/general/about/bg-about-1.jpg'); transform: translate3d(0px, 0px, 0px);">
        <div class="container"> 
            <div class="row">
                <div class="col-md-8">
                    <h3 class="title">Firma de constructii care angajeaza o gama diversa de oameni din intreaga tara</h3>
                    <h4>Compania se angajeaza intr-un proces de dezvoltare dinamica, focalizata pe constructia unui sistem care sa produca pe termen lung, solutii prompte, adaptate nevoilor clientilor</h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main main-raised">
        <div class="container">
            <div class="intro">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <h3 class="title">Misiune si viziune</h3>
                        <p>Misiunea si viziunea companiei Progresso Nel Edilizia au la baza promptitudinea, corectitudinea si seriozitatea in onorarea proiectelor. Firma se adapteaza nevoilor si posibilitatilor clientilor, respectand termenii si bugetele stabilite. Experienta in domeniu de peste 15 ani a echipei, asigura ducerea la bun sfarsit a proiectelor complexe.</p>
                    </div>
                    <div class="col-md-6 text-center">
                            <h3 class="title">Despre Angajati</h3>
                            <p>Angajatii companiei sunt caracterizati de o atitudine deschisa, cooperanta si onesta fata de clienti, furnizori si subcontractanti. Colaboram activ cu toti expertii implicati in proiect si cu clientii, pentru rezolvarea eficienta si benefica a tuturor problemelor aparute in timpul activitatii.</p>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                            <h3 class="title">Management</h3>
                            <p>Managementeul societatii urmareste in mod constant cerintele pietei si vizeaza satisfactia clientilor pentru fiecare proiect. Progresso Nel Edilizia ofera solutii globale in conformitate cu standardele nationale si internationale in vigoare. Se asigura de respectarea tuturor normelor de siguranta si calitate din domeniul constructiilor. Lucreaza in mod eficient cu arhitecti si urbanisti pentru proiecte de calitate si pentru protejarea mediului inconjurator. Suntem pasionati de rolul nostru in furnizarea cladirilor
                            vitale si a infrastructurii din toata tara. Ne-am angajat in ideea ca ceea ce facem, face o diferenta reala vietii oamenilor. Scopul,
                            viziunea si valorile noastre modeleaza cultura companiei, ghidand in mod proactiv activitatile noastre de zi cu zi.
                            </p>
                    </div>   
                </div>
            </div>

          <div class="about-office">
            <div class="row">
              <div class="col-md-4">
                <img class="img-raised rounded img-fluid" alt="Raised Image" src="../static/assets/images/general/about/office2.jpg">
              </div>
              <div class="col-md-4">
                <img class="img-raised rounded img-fluid" alt="Raised Image" src="../static/assets/images/general/about/office4.jpg">
              </div>
              <div class="col-md-4">
                <img class="img-raised rounded img-fluid" alt="Raised Image" src="../static/assets/images/general/about/office3.jpg">
              </div>
              <div class="col-md-6">
                <img class="img-raised rounded img-fluid" alt="Raised Image" src="../static/assets/images/general/about/ceo.jpeg">
              </div>
              <div class="col-md-6">
                <img class="img-raised rounded img-fluid" alt="Raised Image" src="../static/assets/images/general/about/office1.jpg">
              </div>
            </div>
          </div> 

          <div class="intro">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Old World Values - Cutting Edge Technology</h3>
                    <p>
                        Aceasta filozofie a integritatii, responsabilitatii si calitatii a determinat ca firma Progresso Nel Edilizia sa primeasca
                        numeroase premii si certificari in industria constructiilor.
                        Valorile traditionale si experienta vasta, acestea raman fruntea tehnologiei. Pentru a tine pasul pietei concurentiale, compania investeste in educatia angajatilor. Certificarile si efortul lor aduc cinste firmei, de aceea incurajam ca cei inzestrati in industrie sa considere o aplicatie digitala, aici, la noi!
                    </p>
                </div>   
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="tim-typo">
                        <span class="tim-note">Quote</span>
                        <div class="blockquote undefined blockquote-secondary">
                          <p>
                            Ne asumăm ducerea la îndeplinire a proiectelor  prin contracte ferme,  cu termene de realizare bine stabilite şi de comun acord. Pentru a vă oferi cel mai  bun raport calitate – preţ al lucrărilor,  conducerea firmei tratează şi analizează  fiecare proiect în parte  şi deleagă  echipe formate din oameni specializaţi pe  categorii de lucrări aferente.
                          </p>
                          <small>
                            Danut, CEO
                          </small>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        </div>

        <!--
            <div class="team-11">
    
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mr-auto">
                            <h3 class="title">Echipa Noastra</h3>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-body">
                                    <h4 class="card-title">Riccardo Andronache</h4>
                                    <h6 class="category">IT Department</h6>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                                <div class="card-body">
                                    <h4 class="card-title">Danut Andronache</h4>
                                    <h6 class="category">CEO</h6>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-4">
                            <div class="card card-profile card-plain">
                        
                                <div class="card-image">
                                    <a href="#pablo">
                                        <img class="img img-raised rounded" src="./static/assets/img/card-profile3.jpg">
                                    </a>
                                </div>
            
                                <div class="card-body">
                                    <h4 class="card-title">Andrei Andronache</h4>
                                    <h6 class="category">Sef Constructii</h6>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>

        -->

    </div>

</body>



{% endblock content %}