{% extends "layout.html" %}

{% block meta %}
<meta name="description" content="Lucrarile de termoficare sunt prioritatea noastra si avem 15 ani de experienta in domeniu. Sunt complet echipati pentru orice tip de provocare pe care o puteti lansa.">
{% endblock meta %}

{% block content %}

    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/assets/images/general/installation/construction-1.jpg'); background-position: bottom;">
        <div class="container"> 
            <div class="row">
                <div class="col-md-8">
                    <h2 class="title">Instalatii Termoficare - Progresso Nel Edilizia</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised mb-4 pt-5 pb-5">
        <div class="container">
            <!-- Intro text -->
            <div class="intro">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Retele de termoficare</h4>
                        <p>
                            Transportul eficient de caldura, sub forma de apa calda sau abur, spre o serie de locuitori este sustinut de o instalatie de termoficare. Reteaua care face posibila distribuirea apei de la punctul de generare pana la utilizatorul final variaza mult ca structura, dimensiune/lungime in general. Pentru a intelege mai bine aceste procese puteti intra mai in detaliu <a href="{{ url_for('portfolio.home') }}"><strong>in studiile noastre de caz.</strong></a>
                            <br>
                            O retea de caldura permite ca energia irosita de procese industriale sa fie captate si livrate gospodariilor si altor intreprinderi. O schema de termoficare este ideala pentru spatii rezidentatiale, comerciale si publice.

                            Retelele de termoficare realizate de Progresso Nel Edilizia permite proprietarilor comerciali sa monitorizeze cu usurinta consumul de caldura prin intermediul contoarelor. Caldura poate fi masurata separat si livrata proprietarilor in conditii potrivite de facturare.

                        </p>
                    </div>
                    <div class="col-md-12">
                        <h4 class="title">Consecintele care apar odata cu evitarea reabilitarii retelelor vechi de termoficare</h4>
                        <p>
                            Principalele probleme care afecteaza functionarea retelelor de transport nereabilitate sunt:
                            <ul>
                                <li class="text-secondary"><p><strong>
                                    Conductele sunt afectate de coroziune punctiforma, existand foarte multi "pori" care se maresc si astfel ajung la sparturi mari daca nu se pot depista si elimina la timp
                                </strong></p></li>
                                <li class="text-secondary"><strong><p>
                                    Izolatia termica necorespunzatoare (umeda, tasata) cauzeaza pierderi mari de caldura si corodarea exterioara a conductelor
                                </strong></p></li>
                            </ul>
                        </p>
                        <p>In tabelul de mai jos sunt prezentate dezavantajele pierderilor de caldura si de agent termic in conductele de transport al caldurii si rezultatele dupa reabilitarile din etapa I si II. Aceste statistici au fost realizate in Oradea si <strong>nu ne apartin</strong>, ele au rol pur educational.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-md-10">
                    <table>
                        <tr>
                          <th>Pierderi caldura si fluid in retea</th>
                          <th>Gigacalorie/unit</th>
                          <th>Anul 2013</th>
                          <th>Anul 2015 - reabilitare I</th>
                          <th>Anul 2016 - reabilitare II</th>
                        </tr>
                        <tr>
                          <td><strong>Pierderi orare</strong></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                            <td>iarna</td>
                            <td>Gcal/h</td>
                            <td>43,5</td>
                            <td>33,5</td>
                            <td>17,8</td>
                        </tr>
                        <tr>
                            <td>vara</td>
                            <td>Gcal/h</td>
                            <td>14,0</td>
                            <td>10,8</td>
                            <td>5,7</td>
                        </tr>
                        <tr>
                            <td><strong>Pierderi anuale</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Gcal/an</td>
                            <td>245,830</td>
                            <td>189,307</td>
                            <td>100,989</td>
                        </tr>
                      </table>
                </div>
            </div>

            <div class="intro">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Avantajele unei reabilitari</h4>
                        <p>
                            Reabilitarea termica a cladirilor si instalatiilor aferente conduce nu numai la scaderea consumurilor 
                            energetice si de combustibil, adica la scaderea costurilor de intretinere pentru incalzire si prepararea apei calde de consum. De asemenea, conduce si la imbunatatirea conditiilor de igiena si confort termic, reducerea emisiilor poluante generate de producerea, transportul si consumul de energie termica.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="section section-overview">
            <div class="features-5" style="background-image: url('../static/assets/images/general/installation/installation-features.jpg')">
              <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Termoficare cu Progresso Nel Edilizia</h2>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="info">
                      <div class="icon">
                        <i class="material-icons">eco</i>
                      </div>
                      <h4 class="info-title">Sustenabilitate</h4>
                      <p>Lucrand la peste 40 de puncte termice in multe judete din Romania, am redus cantitatile de emisii de gaze cu efect de sera si alti poluanti.</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="info">
                      <div class="icon">
                        <i class="material-icons">build</i>
                      </div>
                      <h4 class="info-title">Asigurare utilitati</h4>
                      <p>Toate unitatile necesare functionarii intregului sistem de termoficare se asigura la sursele de producere a energiei termice.</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="info">
                      <div class="icon">
                        <i class="material-icons">timeline</i>
                      </div>
                      <h4 class="info-title">Egalitate de sanse</h4>
                      <p>Dam posibilitatea locuitorilor de a se racorda la sistemul centralizat de alimentare cu preturi suportabile.</p>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="info">
                      <div class="icon">
                        <i class="material-icons">assignment_turned_in</i>
                      </div>
                      <h4 class="info-title">Lucram optim</h4>
                      <p>Eficienta energetica si pericol redus pentru consumator, comparativ cu sursele individuale pe baza de combustibil.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="projects-4" id="projects-4">
          <div class="container">
            <div class="row">
              <div class="col-md-5 ml-auto mr-5">
                <img class="img-raised rounded img-fluid" alt="Raised Image" src="{{ url_for('static', filename='assets/images/general/installation/welding.jpeg') }}">
              </div>
              <div class="col-md-4 mr-auto">
                <div class="info info-horizontal">
                  <div class="description">
                    <h4 class="info-title">Sudori autorizati</h4>
                    <p class="description">
                      Executia lucrarilor de reabilitare puncte termice cu personal calificat si sudor autorizati.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="description">
                    <h4 class="info-title">Echipamente corespunzatoare</h4>
                    <p class="description">
                      Folosirea unor echipamente de sudura corespunzatoare din punct de vedere tehnic si adaptate tipului si procedeului de sudura aplicat.
                    </p>
                  </div>
                </div>
                <div class="info info-horizontal">
                  <div class="description">
                    <h4 class="info-title">Analiza potrivita lucrarii</h4>
                    <p class="description">
                      Respectarea normativelor de proiectare si a prevederilor legale si efectuarea probei de presiune a retelei termice de transport
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-5 ml-auto">
                <div class="info info-horizontal">
                  <div class="description">
                    <h4 class="info-title">Utilizarea sistemului preizolat</h4>
                    <p class="description">
                      Reabilitarea consta in inlocuirea conductelor existente uzate cu conducte in sistem legat preizolat.
                      Un sistem de acest tip are urmatoarele avantaje
                      <br>
                    </p>
                    <ul>
                      <li>
                        <p class="text-secondary pb-3 pt-3"><strong>Sistemul de detectie al eventualelor neetansietati, inclus in spuma de poliuretan, asigura depistarea rapida si precisa a acestora.</strong></p>
                      </li>
                      <li>
                        <p class="text-secondary pb-3"><strong>Costuri reduse de intretinere si exploatare a retelelor, iar durata de executie a lucrarilor de santier este redusa</strong></p>
                      </li>
                      <li>
                        <p class="text-secondary pb-3"><strong>Pierderi minime in transportul caldurii, durata de viata de 30 de ani in sus</strong></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 mr-auto ml-5">
                <img class="img-raised rounded img-fluid" alt="Raised Image" src="{{ url_for('static', filename='assets/images/general/installation/tube.jpeg') }}">
              </div>
            </div>
          </div>
        </div>

        {% if current_user.is_authenticated %}
        <!-- Carousel form -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="title">Schimba pozele din carusel</h4>
                    <form id="form_installation" method="post" enctype="multipart/form-data">
                        <!-- Post body images. -->
                        <div class="form-group form-file-upload form-file-multiple">
                            <input id="input_installation" type="file" name="images-installation" multiple="" class="inputFileHidden">
                            <div class="input-group">
                                <input type="text" id="multiple-metallic-structures" class="form-control inputFileVisible" placeholder="Selecteaza imaginile dorite" multiple>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-fab btn-round btn-info">
                                        <i class="material-icons">layers</i>
                                    </button>
                                </span>
                            </div>
                        </div>
            
                        <!-- Post submit button. -->
                        <input type="submit" value="Schimba poze" class="btn btn-primary btn-round">
                    </form>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-4">
                  <button type="button" class="btn btn-danger btn-round" data-toggle="modal" data-target="#delete-modal">
                    <i class="material-icons">close</i> Sterge Pozele
                  </button>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Carousel -->
        {% if paths %}
        <div class="container text-center">
          <h2 class="title">Retele de Termoficare facute de noi</h2>
          <p class="description">
            Mai jos se poate vedea un carusel de imagini cu sisteme si retele de apa concepute si livrate de firma Progresso Nel Edilizia. 
            Ne mandrim cu fiecare proiect dus la indeplinire, iar clientii nostri si-au putut ridica proiectele de vis in cel mai scurt timp posibil.
          </p>
          <div class="row justify-content-center pt-5 pb-5">
            <div class="col-md-10">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {% for path in paths %}
                    {% if loop.index == 1 %}
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ url_for('static', filename='assets/images/general/installation/carousel/') }}{{ path }}" alt="First slide">
                      </div>
                    {% else %}
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{ url_for('static', filename='assets/images/general/installation/carousel/') }}{{ path }}" alt="{{ loop.index }} slide">
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
    </div>


    <!-- Script for form-->
    <script type='text/javascript'>

      window.onload = function (){
          document.getElementById('form_installation').addEventListener('submit', event => {
            $('#input_installation').each(function(){
                var input_metallic  = $(this).val();
                var errormessage    = "";

                if (!input_metallic)
                    errormessage = "Please select an option";

                if (errormessage != "") {
                    event.preventDefault()
                    alert('Prima data selectati o poza si apoi schimbati!')
                    return false;
                }
            });
          })

          
          document.getElementById('btnDelete').onclick = function (){
            location.href = "{{ url_for('main.delete_installation_carousel') }}";
          };

      }

    </script>

{% endblock content %}

{% block modals %}

<!-- Modal -->
<div class="modal" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong>Esti sigur ca vrei sa stergi postarea?</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Inainte de a sterge postarea, salvati contentul intr-un fisier word.</p>
        <p>Datele pe care le stergeti <strong>nu pot fi recuperate</strong> din baza de date!</p>
      </div>
      <div class="modal-footer">
        <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock modals %}