{% extends "layout.html" %}

{% block meta %}
<meta name="description" content="Echipa calificata in proiectarea, constructia si livrarea de structuri metalice. Firma de constructie Progresso Nel Edilizia executa aceste tipuri de lucari intr-un timp foarte scurt insotit de profesionalism maxim.">
{% endblock meta %}

{% block content %}
<body class="sidebar-collapse">
    
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../static/assets/images/general/metallic-structures/metallic-background.jpg'); transform: translate3d(0px, 0px, 0px);">
        <div class="container"> 
            <div class="row">
                <div class="col-md-8">
                    <h2 class="title">Hale Metalice - Progresso Nel Edilizia</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main main-raised mb-4 pt-5 pb-5">
        <div class="container">

            <!-- Intro text -->
            <div class="intro">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">De ce ai alege structuri metalice proiectate de noi?</h4>
                        <p>
                            Progresso Nel Edilizia a proiectat, construit si livrat hale metalice intr-o varietate de stiluri, pentru a se potrivi cu o gama larga de aplicatii. Exista cateva avantaje care incurajeaza alegerea otelului fata de materialele traditionale de constructie. Cladirile noastre din otel prefabricat sunt concepute pentru a se potrivi cerintelor proiectului dvs. Sunt disponibile in orice dimensiune, iar designul lor modular ofera posibilitatea unei extinderi viitoare.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <h4 class="title">Este otelul potrivit pentru proiectul meu?</h4>
                        <p>
                            Otelul este un material rentabil pentru proiecte de constructii mari, se asambleaza rapid, economisand timp si bani. Cladirile din otel proiectate de noi sunt durabile, iar orice problema care apare la scurt timp dupa finalizarea proiectului este reparata de echipa noastra de specialisti; astfel incat sa va puteti bucura de investitie. <br>
                            Metalul ofera o flexibilitate superioara tipului de cladire, altfel incat puteti personaliza interiorul si exteriorul acesteia pentru a se potrivi nevoilor dvs. Aceasta proprietate a metalului il deosebeste de constructia traditionala si il face ideal pentru o varietate de industrii.
                        </p>
                    </div> 
                </div>
            </div>
            
            <div class="section col-md-10 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <img class="img-raised rounded img-fluid" alt="Raised Image" src="../static/assets/images/general/metallic-structures/hale-1.jpeg">
                  </div>
                  <div class="col-md-4">
                    <img class="img-raised rounded img-fluid" alt="Raised Image" src="../static/assets/images/general/metallic-structures/hale-6.jpeg">
                  </div>
                  <div class="col-md-4">
                    <img class="img-raised rounded img-fluid" alt="Raised Image" src="../static/assets/images/general/metallic-structures/hale-3.jpeg">
                  </div>
                </div>
              </div>

            <!-- Features of the Metallic Buildings-->
            <div class="features-4">
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Structuri metalice dintr-o alta perspectiva</h2>
                    <h5 class="description">Pe langa procesul de proiectare, constructie si livrare, oferim si alte servicii pentru a clarifica nelamuririle clientilor. </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-12 ml-auto">
                    <div class="info info-horizontal">
                      <div class="icon icon-info">
                        <i class="material-icons">code</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Design si Cocept - AutoCad</h4>
                        <p>Departamentul de IT din cadrul firmei si cei care lucreaza in colaborare cu noi, sunt specialisti in proiectarea si simularea 3D a cladirii dvs. inainte de a fi conceputa in plan real. </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-danger">
                        <i class="material-icons">format_paint</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Consiliere</h4>
                        <p>Echipa noastra este pregatita sa ofere consiliere pentru stabilirea de repere precedente proiectului. Acestea reprezinta o simulare a proiectului pe tipul de teren al clientului, insotit de alte recomandari.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="phone-container">
                      <img src="../static/assets/images/general/laptop_mockup.png">
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-12 mr-auto">
                    <div class="info info-horizontal">
                      <div class="icon icon-primary">
                        <i class="material-icons">dashboard</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Sustenabilitate</h4>
                        <p>
                            Structurile metalice din otel prefabricat 100% reciclabil sunt realizate responsabil, cu gandul la generatiile viitoare. Visul nostru este sa lasam o lume diferita, locuibila generatiei care vine.
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-success">
                        <i class="material-icons">view_carousel</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Cladire ecologica</h4>
                        <p>Produsele noastre sunt folosite intr-un mod responsabil fata de mediul inconjurator, in tot ciclul de viata al acestora: demolare, design, constructie, folosinta.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="intro">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Personalizare Interioara</h4>
                        <p>
                            Rezistenta incadrarii din otel va permite flexibilitatea de a personaliza distantarea interioara a coloanelor. Cladirile noastre sunt proiectate pentru a suporta incarcaturi pentru sisteme de climatizare, pasarele sau tavane. De asemenea, pot fi fabricate pentru a sprijini diverse sisteme de macarale (pentru halele de tip industrial). Oferim plafoane inalte si adaugam mezanine pentru a maximiza spatiul interior si pentru atractia vizuala.

                            Peretii despartitori sunt diponibili pentru a segmenta interiorul cladirii tale metalice in functie de nevoile clientului. Pentru a adauga un aspect modern/industrial, alegeti dintr-o varietate de stiluri de panouri sandwich sau metalice.

                        </p>
                    </div>
                    <div class="col-md-12">
                        <h4 class="title">Personalizare Exterioara</h4>
                        <p>
                            Alegeti dintr-o varietate de stiluri de panouri, profiluri si culori pentru a stimula esteticul proiectului dvs. Oferim o varietate de accesorii pentru structurile metalice:
                            <ul>
                                <li class="text-secondary"><p><strong>Copertine si fatade</strong></p></li>
                                <li class="text-secondary"><p><strong>Sisteme mansarda</strong></p></li>
                                <li class="text-secondary"><p><strong>Sisteme de iluminare cu lampi led montatet pe blindosbara</strong></p></li>
                            </ul>
                        </p>
                    </div> 
                </div>
            </div>
              
        </div>
        
        <!-- Story -->
        <div class="section section-blog col-md-10 ml-auto mr-auto">
            <div class="container">
                <h2 class="title text-center">Tipuri de Aplicatii ale Structurilor Metalice</h2>
                <p class="description text-center">
                    Pentru Progresso Nel Edilizia protectia mediului si inovatiile aduse acestuia se afla in stransa legatura. 
                    Cu instrumente si resurse exclusive, oferim in loc de constructia traditionala o metoda mai rapida de realiza proiectul de vis al clientului. Proprietatile speciale ale metalului pot usura procesul de constructie chiar si cu bugete mai limitate, in cazul cladirilor de dimensiune mica si medie
                </p>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('../static/assets/images/general/metallic-structures/story-1.jpeg')">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-secondary">
                                    "Am lucrat cu Progresso Nel Edilizia de multa vreme, ei mi-au proiectat halele industriale si de depozitare. Rezultatul a fost peste asteptari, recomand!"
                                    <br>
                                    <br>
                                    <small>Radu Palagheanu - Palagheanu Joinery</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container image-left-bottom" style="background-image: url('../static/assets/images/general/metallic-structures/story-3.jpeg')">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url('../static/assets/images/general/metallic-structures/story-2.jpeg')">
                            </div>
                            <h3>Hale metalice destinate Educatiei</h3>
                            <p>
                                Profesionistii din cadrul companiei Progresso Nel Edilizia colaboreaza impreuna pentru a crea solutii versatile, atractive si durabile pentru facilitatile educationale. Proiectam cladiri extraordinare din otel care sunt sigure pentru membrii scolii, solide si dureaza generatii intregi.
                            </p>
                            <h3>Hale metalice destinate Industriei</h3>
                            <p>
                                Structurile metalice sunt potrivite pentru a servi o varietate de aplicatii, spre exemplu: hale industriale de fabricatie, hale de depozitare etc.
                                Expertii nostri pot proiecta structuri de otel cu un design hibrid personalizat pentru a se plia sarcinilor dvs.

                            </p>
                            <p>
                                Acest tip de constructie din otel prefabricat functioneaza bine pentru orice aplicatie structurala, inclusiv: 
                                <ul>
                                    <li class="text-secondary"><p><strong>Cladiri agricole precum hambarele metalice si depozitare a echipamentelor agricole</strong></p></li>
                                    <li class="text-secondary"><p><strong>Service-uri auto, ateliere de reparatii sau facilitati de fabricatie.</strong></p></li>
                                    <li class="text-secondary"><p><strong>Cladiri comerciale si cladiri de birouri</strong></p></li>
                                    <li class="text-secondary"><p><strong>Cladiri de agrement, pavilioane, arene de sport interioare, piscina interioare, sali de bal sau centre de bowling</strong></p></li>
                                </ul>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if current_user.is_authenticated %}
        <!-- Carousel form -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="title">Schimba pozele din carusel</h4>
                    <form id="form_metallic" method="post" enctype="multipart/form-data">
                        <!-- Post body images. -->
                        <div class="form-group form-file-upload form-file-multiple">
                            <input id="input_metallic" type="file" name="images-metallic-structures" multiple="" class="inputFileHidden">
                            <div class="input-group">
                                <input type="text" id="multiple-metallic-structures" class="form-control inputFileVisible" placeholder="Selecteaza imaginile dorite" multiple>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-fab btn-round btn-info">
                                        <i class="material-icons">layers</i>
                                    </button>
                                </span>
                            </div>
                        </div>
            
                        <!-- Post submit button. -->
                        <input type="submit" value="Schimba poze" class="btn btn-primary btn-round">
                    </form>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-4">
                  <button type="button" class="btn btn-danger btn-round" data-toggle="modal" data-target="#delete-modal">
                    <i class="material-icons">close</i> Sterge Pozele
                  </button>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Carousel -->
        {% if paths %}
        <div class="container text-center">
          <h2 class="title">Structuri Metalice facute de noi</h2>
          <p class="description">
            Mai jos se poate vedea un carusel de imagini cu hale metalice concepute si livrate de firma Progresso Nel Edilizia. 
            Ne mandrim cu fiecare proiect dus la indeplinire, iar clientii nostri si-au putut ridica proiectele de vis in cel mai scurt timp posibil.
          </p>
          <div class="row justify-content-center pt-5 pb-5">
            <div class="col-md-10">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {% for path in paths %}
                    {% if loop.index == 1 %}
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ url_for('static', filename='assets/images/general/metallic-structures/carousel/') }}{{ path }}" alt="First slide">
                      </div>
                    {% else %}
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{ url_for('static', filename='assets/images/general/metallic-structures/carousel/') }}{{ path }}" alt="{{ loop.index }} slide">
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        
    </div>


</body>
{% endblock content %}

<!-- Javascript Jinja2 block -->
{% block javascript %}
<script type='text/javascript'>

  window.onload = function (){
      document.getElementById('form_metallic').addEventListener('submit', event => {
        $('#input_metallic').each(function(){
            var input_metallic  = $(this).val();
            var errormessage    = "";

            if (!input_metallic)
                errormessage = "Please select an option";

            if (errormessage != "") {
                event.preventDefault()
                alert('Prima data selectati o poza si apoi schimbati!')
                return false;
            }
        });
      })

      
      document.getElementById('btnDelete').onclick = function (){
        location.href = "{{ url_for('main.delete_metallic_carousel') }}";
      };

  }

</script>
{% endblock javascript %}

<!-- Modal Jinja2 block -->
{% block modals %}

<!-- Modal -->
<div class="modal" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><strong>Esti sigur ca vrei sa stergi postarea?</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Inainte de a sterge postarea, salvati contentul intr-un fisier word.</p>
        <p>Datele pe care le stergeti <strong>nu pot fi recuperate</strong> din baza de date!</p>
      </div>
      <div class="modal-footer">
        <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock modals %}